<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ShowTracker</title>
</head>
<body>
  <a href="/">Home</a> | <a href="/venues">Venues</a> | <a href="/shows">Shows</a> | <a href="/trending">Trending Venues</a> | <a href="/activity">Activity Feed</a>
  <hr>
